/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
/* common css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}
a{
    text-decoration: none;
    color: #161616;
}
#active{
  background-color: #DD0000;
  color: #fff;
 }
/* ======================
    banner section css
    ===================*/
.banner{
    background-color: #161616;
    color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
}
.banner-left{
    width: 50%;
    padding-left: 50px;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 70px;
    margin-bottom: 0;
}
.banner-info{
    font-size: 16px;
    margin-bottom:20px;
}
.banner-left button{
    padding: 10px 15px;
    background-color: #DD0000;
    border-radius: 5px;
    border: none;
}
.banner-left a{
    font-size: 20px;
    color: #fff;
}
.fa-angle-right{
    margin-left: 10px;
    font-size: 20px;
}
.banner-right{
    width: 50%;
}
.banner-right img{
    width: 80%;
    height: 100%;
}

/* ===================
    blog section css
   ================== */
   .blogs{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
   }
   .blogs-left{
    width: 25%;
    height: 312px;
    background-color: #000;
    border-radius: 5px;
    margin-right: 20px;  
   }
   .blog-pages{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* width: 252px;
    height: 252px; */
   }
   .blog-pages p {
    margin: 15px 5px;
   }
   .blog-pages a{
    display: block;
    background-color: #fff;
    color:#000;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
   }
   .blog-pages a:hover{
    background-color: #DD0000;
    color: #fff;
   }

   /* blogs right */
   .blogs-right{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
   }
   .blog-link{
    border: 1px solid #161616;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
   }
   .blog-title{
    font-size: 18px;
    color: #161616;
   }
   .blog-info i{
    margin-right: 15px;
   }
   /* ==================
      match pages style
      ================== */
    .match-right{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 120px;
      grid-row-gap: 100px; 
      align-items: center;
      margin-left: 50px;
    }   
   .match{
      text-align: center;
   }
   .match-title{
    font-size: 20px;
    color: #161616;
   }
   .match-date{
    font-size: 16px;
    color: #4d4d4d;
   }
   /* ================
        footer css
      =============== */
      footer{
        background-color: #161616;
        color: #fff;
        text-align: center;
        padding: 50px 0;
        margin-top: 50px;
      }
      .footer-top h2{
        font-size: 40px;
      }
      hr{
        border: 1px solid #fff;
        opacity: 0.1;
      }
      .footer-bottom{
        display: flex;
        justify-content: center;
      }
      .footer-bottom p{
        padding: 10px;
        margin:10px;
      }
      .footer-bottom a {
        color: #b9b9b9;
        font-size: 16px;
      }
